<div class="sidebar">
  <h3 class="sidebar-title">📚 AWS Worklog</h3>

  {{ $posts := .Site.GetPage "section" "posts" }}

  {{ if $posts }}
    <div class="sidebar-section">
      <strong class="sidebar-heading">{{ $posts.Title }}</strong>

      {{ range $posts.Sections.ByWeight }}
        <div class="sidebar-week">
          <strong class="week-title">- {{ .Title }}</strong>

          <ul class="day-list">
            {{ range .RegularPages.ByWeight }}
              <li>
                <a href="{{ .RelPermalink }}"
                   class="sidebar-link {{ if eq .Permalink $.Permalink }}active{{ end }}">
                  {{ .Title }}
                </a>
              </li>
            {{ end }}
          </ul>
        </div>
      {{ end }}

    </div>
  {{ end }}
</div>